*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    font-family: "Fira Code", sans-serif;
    padding: 100px 50px;
}

#response {
    font-size: 21px;
}

.sendButton {
    margin-top: 20px;
    text-align: center;
}